# Secret key for authentication. (You can use Online UUID generator: https://www.uuidgenerator.net)
AUTH_SECRET=
# Github OAuth App ID & Secret see https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=